<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<configSections>

		<section name="log4net"

		type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

	</configSections>



	<log4net>

		<root>

			<level value="WARN" />

			<appender-ref ref="LogFileAppender" />

			<appender-ref ref="ConsoleAppender" />

		</root>

		<logger name="OperationLogger">
			<level value="INFO" />
			<appender-ref ref="OperationAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		<logger name="ErrorLogger">
			<level value="INFO" />
			<appender-ref ref="ErrorAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>
		<logger name="NGPROLogger">
			<level value="INFO" />
			<appender-ref ref="NGPROAppender" />
			<appender-ref ref="ConsoleAppender" />
		</logger>

		<appender name="LogFileAppender" type="log4net.Appender.FileAppender" >

			<param name="File" value="log-file.txt" />

			<param name="AppendToFile" value="true" />



			<layout type="log4net.Layout.PatternLayout">

				<param name="Header" value="[Header] "/>

				<param name="Footer" value="[Footer] "/>

				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x]  - %m%n" />

			</layout>

		</appender>



		<appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender" >

			<layout type="log4net.Layout.PatternLayout">

				<param name="ConversionPattern"  value="%d [%t] %-5p %c [%x] - %m%n" />

			</layout>

		</appender>
		<!-- 操作日志 appender -->
		<appender name="OperationAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs/operation/%date{yyyyMMdd}/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyyMMdd_HH'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<!-- 错误日志 appender -->
		<appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs/error/%date{yyyyMMdd}/" />
			<appendToFile value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd_HH'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<!-- 产品NG日志 appender -->
		<appender name="NGPROAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="logs/NG_info/%date{yyyyMMdd}/" />
			<appendToFile value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd_HH'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>



	</log4net>

</configuration>